/* 
Made by: ;
Custom made css style sheet for my portfolio
*/
/* Override style */
h1,h2,h3,h4,h5,h6, p, pre, a, li,ul{
	padding: 0;
	text-decoration: none;
	margin: 0;
	font-family: sans-serif;
}
pre{
	white-space: pre-line;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
button, input, textarea{
	background-color: white;
	border: none;
	resize: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
input:focus, textarea:focus{
	outline: none;
}
/* ---------- style ---------- */
body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #222f3e;
}
.side-menu{
	width: 100%;
	min-height: 1080px;
	display: flex;
	flex-direction: row;
}
.header{
	position: relative;
	width: 18%;
	max-width: 280px;
	height: auto;
	background: #222f3e;
	transition: width 1s;
}
.header .logo{
	text-align: center;
}
.header .logo img{	
	transform: rotate(360deg);
}
.header ul{
	width: 100%;
	height: auto;
	text-align: center;
}
.header li{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style: none;
}
.header li a{
	position: relative;
	display: inline-block;
	width: 60%;
	padding: 5px 8px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.header li a:hover{
	background-color: #feca57;
	color: black;
}
.header .header-block{
	min-width: 200px;
}
.content{
	position: relative;
	width: 100%;
	height: auto;
	background: #576574;
	z-index: 0;
	color: white;
}
.footer{
	position: relative;
	width: 100%;
	min-height: 100px;
	height: auto;
	display: flex;
	background: #ee5253;
}
.footer .col-3{
	text-align: center;
	font-size: 16px;
}
.footer .col-3 a{
	color: black;
	display: block;
}
.footer .col-3 a:hover{
	color: white;
}
.footer .social a{
	display: inline-block;
	margin: 2px 5px;
}
.footer .social i:hover{
	color: white;
}
.footer .social i{
	font-size: 40px;
}
.credits{
	display: table;
	padding-top: 1.5rem;
	padding-bottom: 2px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-weight: bold;
}
.maintenance{
	color: white;
}
.maintenance, .Error4{
	width: 100%;
	text-align: center; 
	padding-top: 300px;
}
#btn{
	position: relative;
	z-index: 1;
	margin: 10px 10px;
	font-size: 30px;
	padding: 1px 6px;
	border: none;
	background: transparent;
	color: white;
	text-shadow: 1px 2px #222f3e;
}
#btn:hover{
	cursor: pointer;
	color: black;
	background: #feca57;
	text-shadow: none;
}
#contact-btn{
	position: relative;
	display: inline-block;
	color: white;
	font-weight: bold;
	background: #222f3e;
	font-size: 20px;
	padding: 10px;
	margin-top: 5px;
}
#contact-btn .sharpcorner-rb, #contact-btn .sharpcorner-lt{
	border-color: #ee5253 transparent transparent;
}
#contact-btn .sharpcorner-lt{
	margin-left: -11px;
    top: -1px;
}
#contact-btn .sharpcorner-rb{
	right: -1px;
    top: 27px;
}
#contact-btn:hover{
	color: black;
	background: #feca57;
}
.Page-title{
	font-size: 30px;
	padding-bottom: 5px;
}
/* ==== pages ==== */
.Home-text{
	display: table;
	padding-top: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.Home-text h1,.Home-text h2{
	color: white;
	text-shadow: 1px 3px 5px black;
} 
.Home-text h1{
	font-size: 45px;
}
.Home-text h2{
	font-size: 38px;
}
.Welcome{
	display: block;
	width: 100%;
	height: 1080px;
}
.overmij ul{
	line-height: 11px;
	margin-left: 16px;
}
.overmij img{
	width: 250px;
	height: auto;
	min-height: 100px;
	object-fit: cover;
}
.project-item{
	width: 22%;
	max-width: 300px;
	min-width: 195px;
	background: #feca57;
	border: 2px solid #feca57;
	color: black;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}
.project-item .project-image{
	width: 100%;
	height: 200px;
}
.project-item img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.project-item:hover{
	background: #0abde3;
	border-color: #0abde3;
}
.project-view{

}
.project-view img{
	display: block;
	max-width: 500px;
	width: 100%;
	max-height: 400px;
	height: 100%;
	object-fit: cover;
	margin: 0 auto;
}
.skills .mobile{
	display: none !important;
}
.skills .meter-bar{
	position: relative;
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	background-color: white;
}
.skills .meter-bar span{
	position: absolute;
	z-index: 1;
	right: 0;
	height: 100%;
	display: inline-flex;
	align-items: center;
	padding-right: 5px;
	color: #484848;
}
.skills .progress{
	position: relative;
	display: inline-block;
	width: 0%;
	height: 100%;
	background-color: #2e86de;
	transition: width 1s;
}
.skills .progress h4{
	display: inline-flex;
	width: 100px;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}
.skills .skill-story{
	display: inline-flex;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.skills .skill-story .skill-story-i{
	display: inline-flex;
	justify-content: center;
	width: 60px;
	height: auto;
	font-size: 45px;
	padding-right: 20px;
	padding-top: 5px;
}
.skills .skill-story .skill-story-text{
	max-width: 450px;
	width: 90%;
	height: auto;
}
.contact form{
	width: 100%;
	height: auto;
}
.contact form label{
	display: block;
	margin-bottom: 2px;
}
.contact form input, .contact form textarea{
	display: block;
	max-width: 350px;
	width: 100%;
	margin-bottom: 15px;
	padding: 2px;
	font-size: 18px;
}
.contact form textarea{
	height: 350px;
}
.contact form input[type="submit"]{
	background: #feca57;
	max-width: 354px;
	width: 100%;
	cursor: pointer;
}
.contact form input[type="submit"]:hover{
	background: #0abde3;
}
.contact .error{
	border: 5px dashed #ee5253;
    color: #ee5253;
}
.contact .note{
	border: 5px dashed #1dd1a1;
    color: #1dd1a1;
}
.contact .message{
	display: flex;
	flex-direction: column;
    margin-top: 20px;
    text-align: center;
    max-width: 350px;
    width: 100%;
    min-height: 100px;
    font-weight: bold;
    padding: 5px;
    text-shadow: 0px 0px 5px black;
    align-items: center;
    justify-content: center;
}
.contact .mobile{
	display: none;
}
/* Javascript var classes */
.open{
	width: 18%;
}
.close{
	width: 0%;
}
/* Multi-use classes */
.sharpcorner-lt, .sharpcorner-lb, .sharpcorner-rt, .sharpcorner-rb{
    position: absolute;
    margin-left: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-color: #222f3e transparent transparent;
    border-style: solid;
    border-width: 17px 17px 0 0;
}
.sharpcorner-rb{
    margin-left: 0;
    right: 0;
    top: 17px;
    transform: rotate(180deg);
}
.flex-col{
	flex-direction: column;
}
.row{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.row-wrap{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.links a{
	margin-top: 3px;
	margin-bottom: 3px;
}
.col-1,.col-2,.col-3,.col-4{
	display: block;
	height: auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.col-1{
	width: 100%;
}
.col-2{
	width: 50%;
}
.col-3{
	width: 40%;
}
.col-4{
	width: 33%;
}
.col-5{
	width: 25%;
}
.content .container{
	padding-bottom: 20px;
}
.container{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pt-4{
	padding-top: 1.5rem;
}
.mt-70{
	margin-top: 70px;
}
/* tablet version (max-width: 1080px) */
@media only screen and (max-width: 1080px){
	/* ==== pages ==== */

	/* Multi-use classes */
	.container{
		width: 90%;
	}
}
/* Bigger Mobile version (max-width: 800px) */
@media only screen and (max-width: 800px){
	.header{
		max-width: 100%;
		transition: width 0s;
	}
	.close .logo img, .open .logo img{
		transform: none;
		transition: none;
	}
	.footer .row{
		flex-direction: column;
		align-items: center;
	}
	.footer .col-3{
		margin: 10px auto;
	}
	.content{
		overflow-x: hidden;
	}
	.side-menu{
		min-height: 800px;
	}
	.Welcome{
		height: 800px;
	}
	.open{
		width: 100%;
	}
	.footer .container{
		width: 450px;
	}
	/* ==== pages ==== */
	.contact .message{
		display: none;
	}
	.contact .mobile{
		display: flex;
	}
	/* Multi-use classes */
	.row{
		flex-direction: column;
	}
	.col-1,.col-2,.col-3,.col-4{
		width: 100%;
	}
}
/* Mobile version (max-width: 600px) */
@media only screen and (max-width: 600px){
	body{
		overflow-x: hidden;
	}

	/* ==== pages ==== */
	.Home-text{
		padding-top: 200px;
	}
	.projecten .row-wrap{
		justify-content: center;
	}
	.project-item{
		width: 100%;
	}
	.contact .col-2{
		margin-left: 0;
	}
	.skills .col-2{
		width: 100%;
	}
	.skills .progress h4{
		width: 70px;
		font-size: 14px;
	}
	.skills .skill-story .skill-story-text{
		width: 100%;
	}
	.skills .desktop{
		display: none;
	}
	.skills .mobile{
		display: block;
	}
	/* Multi-use classes */

}
/* smaller Mobile version (max-width: 400px) */
@media only screen and (max-width: 400px){
	/* ==== pages ==== */
	.skills .progress h4{
		width: 40px;
		font-size: 10px;
	}
	/* Multi-use classes */

}
